body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: #f1f1f1;
}

blockquote {
    color: #000000;
    padding-bottom: 50px;
    font-size: 20px;
}

button {
    background-color: navy;
    color: #f1f1f1;
    border: none;
    border-radius: 3px;
    font-size: 2em;
    cursor: pointer;
}

button:hover {
    background-color: goldenrod;
}
